<mat-toolbar class="header">
  <button mat-icon-button class="example-icon">
    <i class="material-icons">
      menu
    </i>
  </button>

  <a routerLink="/">
    <img src="assets/img/logo.png" alt="logo" class="logo">
  </a>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon">
    <i class="material-icons">
      favorite
    </i>
  </button>

  <button mat-icon-button class="example-icon">
    <i class="material-icons">
      share
    </i>
  </button>
</mat-toolbar>
