.example-spacer {
  flex: 1 1 auto;
}

.header {
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;
}


.header a {
  height: 100%;
  display: flex;
  align-items: center;
}

.header img {
  max-height: 32px;
}
