<mat-toolbar class="header">
  <button mat-icon-button class="example-icon">
    <i class="material-icons">
      menu
    </i>
  </button>

  <a routerLink="/">
    <img src="assets/img/logo.png" alt="logo" class="logo">
  </a>

  <span class="example-spacer"></span>

  <span style="margin-right: 10px;">{{ (counter$ | async).counter }}</span>

  <button (click)="increment()" mat-icon-button>
    <i class="material-icons">
      thumb_up_off_alt
    </i>
  </button>

  <button (click)="decrement()" mat-icon-button>
    <i class="material-icons">
      thumb_down_off_alt
    </i>
  </button>
</mat-toolbar>
