.sidenav {
  background: #3f51b5;
  width: 200px;
  top: 48px !important;
}

.sidenav a {
  color: #FFF;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  margin-top: 48px;
  background: #FFF;
}
