.home .title {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 1rem;
}

section {
  width: 100%;

  display: flex;
}

section > div {
  width: 50%;
  margin: 8px;
}

.example-radio-group {
  display: flex;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.container {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.container section {
  width: 100%;
}

.mat-table {
  width: 100%;
}

.mat-column-rank {
  max-width: 5%;
}

.mat-column-name {
  max-width: 30%;
}

.mat-column-price {
  max-width: 65%;
}

.mat-column-name img {
  width: 30px;
  margin-right: 10px;
}
